body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.calculator {
    min-width: 30em;
    min-height: 30em;
    margin: auto;
    display: grid;
    gap: 0.2em;
}
.display {
    background-color: #ffeecf;
    font-size: 5em;
    grid-column: 1 / 4;
    text-align: right;
}
button {
    padding: 1em;
}
.calculator {
    border-radius: 5px;
    background-color: black;
    padding: .4em;
}
.num {
    background-color: #4dccbd;
}


.operator {
    background-color: #ff8484;
}